@keyframes backgroundScroll {
  0% {
    background-position: 150px 0;
  }
  100% {
    background-position: 150px 2000px;
  }
}
body {
  background: #FFF url('../img/bulles.png') 150px 0;
  // night view
  // background: #000;
  // color: #fff;
  @media (min-width: 900px) {
    animation: backgroundScroll 90s linear reverse infinite;
  }
}
