.show_cart_button {
	display: inline-block;
	// padding: 8px;
	height: 30px;
	img {
		height: 1em;
	}
}

.cartPreview {
	margin-top: 0.6em;
}

.cart {
	padding: .5em;
	width: 100%;

    @media (min-width: 801px) {
        margin-left: 330px;
		width: calc(100% - 330px);
    }
	// margin: .6em 2em 0 0;
	// cursor: pointer;
	// line-height: 1.6em;
	// vertical-align: middle;
	// transition: transform .3s;
	background: white;
	// will-change: transform;
	// &:hover {
	// 	color: #197518;
	// 	transform: scale(1.1, 1.1);
	// }
	img {
		max-height: 1em;
		&:active {
			transform: scale(1, 1);
		}
	}
}

.cart-modal .skylight-dialog {
	min-width: 490px !important;
	padding: 0 !important;
	top: 10% !important;
	max-height: 80% !important;
	margin-top: 0 !important;
	left: 50% !important;
	animation: modal 0.2s linear;
	border-radius: 8px !important;
	color: #666!important;
	font-weight: 700;
	color: black;
	text-shadow: 0 0 1px white;
	background-color: rgba(255, 255, 255, 0.8) !important;
	display: flex;
	.skylight-close-button {
		color: #ccc;
	}
	.scrolling-content {
		overflow: auto;
		max-height: 40%;
	}
	.row {
		padding: 5px;
		border: 1px pink;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		border-top: 2px solid rgba(100, 100, 100, .3);
		margin: {
			left: 1em;
			top: .5em;
			right: 1em;
			bottom: .5em;
		}
		.addAndRemove {
			white-space: nowrap;
		}
		.small-col {
			min-width: 20%;
		}
		img {
			vertical-align: middle;
			max-height: 1.3em;
			padding-left: 5px;
			padding-right: 5px;
			cursor: pointer;
		}
	}
	.summary {
		border-top: none;
		line-height: 2em;
		font-size: 1em;
		.btn-cart {
			margin: {
				left: 1em;
			}
			padding: {
				left: 1em;
				right: 1em;
				top: .25em;
				bottom: .25em;
			}
		}
	}
	textarea {
		width: 100%;
		box-sizing: border-box;
		border: 2px solid #eee;
		outline: none;
		border-radius: 3px;
		background: rgba(255, 255, 255, .85);
		border: 2px solid #ccc;
		&:focus {
			border: 2px solid #888;
			box-shadow: 0 0 2px #888;
		}
	}
	@media all and (max-width: $maxImgWidth + 265) {
		margin-left: 0 !important;
		left: 1% !important;
		min-width: 200px !important;
		width: 98% !important;
		font-size: .8em;
	}
}