.cart{
  position: fixed;
  top: 18px;
  right: 230px;
  width: 30px;

  &:hover{
    cursor: pointer;
    filter: drop-shadow(2px 2px #28c800);
  }
  &:active{
    width: 28px;
    filter: drop-shadow(0 0 2px #186f03);
  }
  img{
    width: 90%;
  }
}

.cart-modal .skylight-dialog {
  min-width: 490px !important;
  padding: 0 !important;
  top: 50% !important;
  left: 50% !important;
  animation: modal 0.2s linear;
  border-radius: 8px !important;
  color: #666!important;
  font-weight: 700;
  color: black;
  text-shadow: 0 0 1px white;
  background-color: rgba(255, 255, 255, 0.8) !important;

  .skylight-close-button{
    color: #ccc;
  }

  table {
    display: table;
    width: 100%;
    border-spacing: 0;
    padding-left: 10px;

    thead{
      float: left;
      padding-right: 18px;
      width: 97%;
    }
    tbody{
      float: left;
      overflow: auto;
      height: 250px;
      width: 97%;
      // padding-right: 18px;

      img{
          max-height: 2em;
          cursor: pointer;
      }
      .addAndRemove{
        img{
          vertical-align: middle;
          max-height: 1.3em;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
    tfoot{
      td{
        color: #287e0a;
        text-align: right;
        padding: 15px;
        border-bottom: none;
      }
      button{
        margin-right: 50px;
      }
    }
    tr {
        width: 100%;
        display: table;
        text-align: center;
    }
    th{
      font-weight: 900;
      border-bottom: solid 2px #a1a1a1;
    }
    td{
      border-bottom: solid 1px #cccccc;
    }
    th, td {
        width: 18%;
        vertical-align: center;
        padding: 2px;
        margin: 0;
    }
  }

  @media all and (max-width: $maxImgWidth + 265) {
    margin-left: 0 !important;
    left: 1% !important;
    min-width: 200px !important;
    width: 98% !important;
    font-size: .8em;

    table tbody .addAndRemove{
      img{
        vertical-align: middle;
        max-height: 1em;
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
}
