pre {
  display: inline-block;
  padding: 1em;
  margin: 5%;
  background: rgba(200,200,200,.8);
  border-radius: 0.5em;
  border: solid 1px #ccc;
  text-shadow: 0 0 2px white;
  text-align: left;
  box-shadow: 0 2px 8px #ccc;
}
