#footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  // box-shadow: 0 0 10px #ccc;
  background: white;
  opacity: .9;
}
body {
  margin-bottom: 2em;
}
