.itemLabelImg{
  max-width: 50px;
}
.pre-item{
  display: block;
  position: relative;
}
img.backorder{
  position: absolute;
  top: 30%;
  left: -30%;
  width: 150%;
}

@keyframes modal {
  0% {
    transform: scale(.9, .9);
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.skylight-dialog {
  animation: modal 0.2s linear;
  border-radius: 8px !important;
  color: #666!important;
  min-height: 450px !important;
  background-color: rgba(255, 255, 255, 0.8) !important;

  .lightboxImg {
    margin: 5px;
    display: block;
    width: 100%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;

    &.loading {
      -webkit-filter: blur(6px) grayscale(50%);
    }
  }
}
