$maxImgWidth: 475px;
$halfMaxImagWidth: $maxImgWidth/2;

.itemLabelImg {
  max-width: 50px;
}

img.backorder {
  position: absolute;
  top: 30%;
  left: -70px;
  height: 100px;
}

.counter{
  position: absolute;
  bottom: 70px;
  right: 15px;
  
  span{
    padding: 5px;
    border: solid 1px #222;
    border-radius: 5px;
    background-color: #fff;
  }
}

.addToCart {
  position: absolute;
  bottom: 10px;
  right: 15px;

  img {
    cursor: pointer;
    max-height: 1.5em !important;
    filter: drop-shadow( 0 0 1px black);

    &:hover {
      filter: drop-shadow( 1px 1px 1px black);
    }

    &:active {
      filter:contrast(200%) drop-shadow( 1px 1px 2px black);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes modal {
  0% {
    transform: scale(.9, .8);
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.lightBoxImageSpecs {
  display: block;
  width: 100%;
  height: 90%;
}

.item-detail .skylight-dialog {
  padding: 0 !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -$halfMaxImagWidth !important;
  animation: modal 0.2s linear;
  border-radius: 8px !important;
  color: #666!important;
  max-height: $maxImgWidth !important;
  width: $maxImgWidth *1.25 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  @media all and (max-width: $maxImgWidth + 265) {
    margin-left: 0 !important;
    left: 1% !important;
    width: 98% !important;
    height: 90% !important;
  }

  .skylight-close-button{
    color: #ccc;
  }

  .lightboxImg_container {
    @extend .lightBoxImageSpecs;
    width: 50%;

    .lightboxImg {
      @extend .lightBoxImageSpecs;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 1s;
    }
    $base-line-height: 4em;
    $off-white: #222;
    $white: #fff;

    &.loading {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        width: $base-line-height;
        height: $base-line-height;
        border: 0.2rem solid $off-white;
        border-top-color: $white;
        animation: spin 0.8s infinite;
        shadow-box: 0 0 2px white;
        margin-top: $base-line-height / -2;
        margin-left: $base-line-height / -2;
      }

      .lightboxImg {
        -webkit-filter: blur(6px) grayscale(50%);
      }
    }
  }
  .info{
    position: absolute;
    right: 10px;
    margin: 0 10px;
    padding: 0 5px 10px 5px;
    height: 80%;
    width: 45%;
    font-weight: 700;
    color: black;
    text-shadow: 0 0 1px white;

    table{
      border-spacing: 0;
    }

    td{
      vertical-align:top;
      padding: 10px;
      margin: 0;
      border-bottom: solid 1px #cccccc;
    }

    h3{
      text-align: center;
    }

    .addToCart{
      img{
        max-height: 40px !important;
      }
    }
  }
}
