// .lightboxImg {
//   min-width: 95%;
//   max-width: 100%;
//   min-height: 95%;
//   max-height: 100%;
//   display: block;
//   width: auto;
//   height: auto;
//   margin: auto;
// }

.lightboxImg {
  display: block;
  width: 100%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;

  &.loading {
    -webkit-filter: blur(8px) grayscale(50%);
  }
}
