$search-width: 160px;
$search-pad: 6px;
$loading-offset: $search-width - $search-pad*2;
#search {
  background: url('../img/white_shade.png') left top repeat-x;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1em;
  color: black;
  input {
    padding: $search-pad;
    width: $search-width;
    border: 2px solid #eee;
    outline: none;
    border-radius: 3px;
    background: rgba(255,255,255,.85);
    &:focus,
    &:hover {
      background: white;
      border: 2px solid #ccc;
      box-shadow: 0 2px 10px #ccc;
    }
    &.loading {
      background: white url('../img/loading.gif') $loading-offset center no-repeat;
    }
  }
  form {
    background: url('../img/login_rb.png') right bottom no-repeat;
    padding: 1em 3em 2em 0;
  }
}
